/* RESET GLOBAL REAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000; /* fundo preto padrão */
}
